@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
    background-color: #1B1A1C;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
}

h1{
    color: #fff;
}

button {
    background-color: red;
    color: #000000;
    padding: .3rem 2rem;
    font-size: small;
}

button:hover {
    background-color: #fff;
    color: red;
}

input,
textarea {
    outline: none;
    width: 100%;
    border: none;
    font-size: .8rem;
    padding: .5rem 0;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px red solid;
}

textarea {
  min-width: 5rem;
  max-height: 5rem;
}

.nav_active {
    display: none;
}

.nav_menu {
    display: block;
}


.home_page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.137)),url("/bgi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* 
.home_page::before {
    background-color: rgba(0, 0, 0, 0.61);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
} */
/* #191d28 */

.detai_home::after {
    background-color: rgba(0, 0, 0, 0.712);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
