@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


body {
    background-color: #191d28;
    color: #c0c4d0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
}

.home_page {
    width: 100%;
    height: 100vh;
    background-image: url("/bgi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
