@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
    background-color: #1B1A1C;
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
}

.datail-name {
    font-family: 'Bruno Ace SC', cursive;
}

h1 {
    color: #ffffff;
}

li {
    list-style: none;
}

button {
    background-color: red;
    color: #1B1A1C;
    padding: .3rem 2rem;
    font-size: small;
}

button:hover {
    background-color: #fff;
    color: red;
    border: red 1px solid;
}

.view {
    background-color: rgba(255, 0, 0, 0);
    border: red 1px solid;
    color: #fff;
    transition: 0.3s;
}

.view:hover {
    color: red;
    transition: 0.3s;
}

.info {
    color: red;
}

input {
    outline: none;
    width: 100%;
    border: none;
    font-size: .8rem;
    padding: .5rem 0;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px red solid;
}

.nav_active {
    background-color: #1B1A1C;
    transition: all .1s ease;
    opacity: 0;
}

.nav_active .show-nav {
    transition: all 1s ease;
    opacity: 0;
}

.nav_menu {
    background-color: #1B1A1C;
    transition: all .1s ease;
    opacity: 1;
}

.nav_menu .show-nav {
    transition: all 1s ease;
    opacity: 1;
}

.searchIn,
.compare {
    animation: slideIn 1s ease-in-out forwards;
}

.up {
    animation: slideUp .8s ease forwards .5s;
}

@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

.news-items {
    flex-wrap: wrap;
}


.home_page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.137)), url("/bgi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.detail_home::after {
    background-color: rgba(0, 0, 0, 0.712);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.caract {
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.945)), url("/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.campareson {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.137)), url("/video.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.compared-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    transition: .3s ease-in-out;
}

.reset {
    border: 1px solid red;
    transition: 0.3s;
}

.reset:hover {
    color: #fff;
    background-color: #757575;
    transition: 0.3s;
}

.compared:hover>.compared-hover {
    opacity: 1;
    transition: .3s ease-in-out;
}

.shadow {
    box-shadow: 0 0 30px #0000006e;
}


.experience {
    position: relative;
    width: 100%;
    background-image: url("/luxury-car-brand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.liner1 {
    background-image: linear-gradient(to right, red, rgba(255, 255, 0, 0));
}

.liner2 {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 0, 0));
}


.gallery {
    width: 100%;
    padding: 4rem;
    columns: 3;
    /* column-gap: 2rem; */
}

.gall-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: .2s ease-in-out;
}

.img {
    position: relative;
}

.img:hover>.image-detail {
    opacity: 1;
    transition: .3s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .home_page {
        height: 40vh;
    }

    .detail_home::after {
        height: 40vh;
    }

    .gallery {
        padding: 1rem;
    }
}